---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.tsx";
import Services from "../components/services.astro";
import Questions from "../components/questions";
import About from "../components/about.astro";
import Bios from "../components/bios.astro";
import Newsletter from "../components/newsletter.astro";

import '../styles/fonts.css';
import WelcomePopup from '../components/WelcomePopup';  // Adjust the path based on where the file is located

const title = "The Immersive Lounge";
---

<Layout title={title}>
  <main class="font-sans">
    <Hero client:only='react' videoUrl='https://www.youtube.com/watch?v=IuHtgJvxKIA' />
    <About />
    <Questions />
    <Newsletter />
    <Bios />
  </main>
</Layout>